<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sales_order_row.name %>
</p>

<p>
  <b>Row number:</b>
  <%= @sales_order_row.row_number %>
</p>

<p>
  <b>Order quantity:</b>
  <%= @sales_order_row.order_quantity %>
</p>

<p>
  <b>Unit price:</b>
  <%= @sales_order_row.unit_price %>
</p>

<p>
  <b>Discount percent:</b>
  <%= @sales_order_row.discount_percent %>
</p>

<p>
  <b>Discount amount:</b>
  <%= @sales_order_row.discount_amount %>
</p>

<p>
  <b>Line amount:</b>
  <%= @sales_order_row.line_amount %>
</p>

<p>
  <b>Unit cost:</b>
  <%= @sales_order_row.unit_cost %>
</p>

<p>
  <b>Sales order:</b>
  <%= @sales_order_row.sales_order %>
</p>


<%= link_to 'Edit', edit_sales_order_row_path(@sales_order_row) %> |
<%= link_to 'Back', sales_order_rows_path %>
