<%= form_for(@purchase_order) do |f| %>
    <% if @purchase_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being
            saved:</h2>

          <ul>
            <% @purchase_order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :order_number %>
      <br/>
      <%= f.number_field :order_number %>
    </div>
    <div class="field">
      <%= f.label :completely_arrived %>
      <br/>
      <%= f.check_box :completely_arrived %>
    </div>
    <div class="field">
      <%= f.label :completely_invoiced %>
      <br/>
      <%= f.check_box :completely_invoiced %>
    </div>
    <div class="field">
      <%= f.label :warehouse %>
      <br/>
      <%= collection_select(:warehouse, :warehouse_id, Warehouse.all, :id, :name, {:prompt => "Select a Warehouse"}) %>
    </div>
    <div class="sales_order_rows">
      <h2>Add a purchase order row</h2>
      <%= link_to_add_purchase_order_row "Add purchase order row", f, :purchase_order_rows %>
      <table id="purchase_order_rows_table">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Warehouse Spot</th>
        <th>Order quantity</th>
        <th>Purchase price</th>
        </thead>
        <tbody>
        <%= f.fields_for :purchase_order_rows do |builder| %>
            <%= render "purchase_order_row_fields", :f => builder %>
        <% end %>
        </tbody>
      </table>
      <br/>
      <br/>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
