<h1>Welcome to Warehouse Management System</h1>
<%= link_to(t(:products), products_path) %>
<br/>
<%= link_to 'Sales Orders', sales_orders_path %>
<br/>
<%= link_to('Purchase Orders', purchase_orders_path)%>
<br/>
<%= link_to('Supplies', supplies_path)%>
<br/>
<%= link_to('Warehouses', warehouses_path) %>
<br/>
<%= link_to('Warehouse Spots', warehouse_spots_path)%>
<br/>
<br/>
<%= link_to("English", "#{'http://localhost.com:3000'}") %>
<br/>
<%= link_to("Finnish", "#{'http://localhost.fi:3000'}") %>