<%= form_for(@supply) do |f| %>
    <% if @supply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

          <ul>
            <% @supply.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :warehouse %>
      <br/>
      <%= collection_select(:warehouse, :warehouse_id, Warehouse.all, :id, :name, {:prompt => "Select a Warehouse"}) %>
    </div>
    <div class="field">
      <%= f.label :purchase_order %>
      <br/>
      <%= link_to_add_purchase_order "Add purchase order", f, :purchase_orders %>
      <br/>
      <br/>
    </div>
    <div id="purchase_order_rows_wrapper">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
