<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @supply.id %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @supply.warehouse.name %>
</p>

<%= render 'supply_rows/supply_rows' %>

<br/>
<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
