<p id="notice"><%= notice %></p>

<p>
  <b>Sales order:</b>
  <%= @shipment.sales_order %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @shipment.warehouse %>
</p>


<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
